# Node
node_modules
npm-debug.log*

# Python
__pycache__
*.pyc
.venv
venv

# Env
.env
client/.env
server/.env
ai-service/.env

# Build output
client/dist

# Data artifacts
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

